div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: pink;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}
